<!DOCTYPE html>
<html lang="en" data-ng-app="devHelper">
    <head>
        <title>Feat Editor</title>
        <link rel="stylesheet" media="screen" href="assets/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
        <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
        <script type="text/javascript" src="assets/lib/angular-resource/angular-resource.min.js"></script>
        <script type="text/javascript" src="assets/lib/codemirror/lib/codemirror.js"></script>
		<link rel="stylesheet" href="assets/lib/codemirror/lib/codemirror.css">
        <script type="text/javascript" src="assets/lib/codemirror/mode/javascript/javascript.js"></script>
        <script type="text/javascript" src="assets/lib/ui-codemirror/ui-codemirror.js"></script>
		<style type="text/css">
			.CodeMirror
			{
				border: 1px solid #eee;
				height: auto;
				max-height: 10em;
			}
			.CodeMirror-scroll
			{
				max-height: 10em;
			}
			td
			{
				padding: 0.5em;
			}
			textarea
			{
				width: 100%;
				height: 100%;
			}
		</style>
    </head>
    <body ng-controller="featHelper">
    	<table style="width: 100%;">
    		<thead>
    			<tr>
    				<th style="width: 30em;">
    					<label for="nameIn">Name</label>
    				</th>
    				<th style="width: 20%;">
    					<label for="summIn">Summary</label>
    				</th>
    				<th style="width: 30%;">
    					<label for="descIn">Description</label>
    				</th>
    				<th style="width: 100%;">
    					<label for="jsIn">Code</label>
    				</th>
    			</tr>
    			<tr>
    				<td>
        				<input id="nameIn" type="text" data-ng-model="newFeat.name" />
    				</td>
    				<td>
    					<textarea id="summIn" data-ng-model="newFeat.summary"></textarea>
    				</td>
    				<td>
    					<textarea id="descIn" data-ng-model="newFeat.description"></textarea>
    				</td>
    				<td>
    					<ui-codemirror id="jsIn" data-ng-model="newFeat.code"
    						data-ui-codemirror-opts="editOpts"></ui-codemirror>
    				</td>
    				<td>
    					<button type="button" data-ng-click="add(newFeat);">Add</button>
    				</td>
    			</tr>
    		</thead>
    		<tbody>
    			<tr data-ng-repeat="feat in feats">
    				<td>
        				<input type="text" disabled="disabled" value="{{feat.name}}" />
    				</td>
    				<td>
    					<textarea disabled="disabled">{{feat.summary}}</textarea>
    				</td>
    				<td>
    					<textarea disabled="disabled">{{feat.description}}</textarea>
    				</td>
    				<td style="width: 100%;">
    					<ui-codemirror id="jsIn" data-ui-codemirror-opts="displOpts" data-ng-model="feat.code" />
    				</td>
    				<td>
					<button type="button" data-ng-click="delete(feat);">Delete</button>
    				</td>
    			</tr>
    		</tbody>
    	</table>
    	<script type="text/javascript">
    	</script>
    	<script type="text/javascript">
			var app = angular.module("devHelper", ["ngResource", "ui.codemirror"]);
			app.controller("featHelper", function($scope, $resource) {
				$scope.editOpts = {
			        lineNumbers: true,
		    		viewportMargin: Infinity,
		    		mode: "text/javascript"
			    };
				$scope.displOpts = {
			        lineNumbers: true,
		    		viewportMargin: Infinity,
		    		mode: "text/javascript",
		    		readOnly: true
			    };
			    
				$scope.newFeat = {};
				var Feat = $resource('/feat/:id', {id: "@@id"});
				$scope.feats = Feat.query(function(res)
				{
					console.log(res);
				}, function()
				{
					$scope.feats = [];
				});
				
				$scope.add = function(newFeat)
				{
					new Feat(newFeat).$save(function(feat)
					{
						$scope.feats.push(feat);
					});
				};
				
				$scope.delete = function(feat)
				{
					$scope.feats.splice($scope.feats.indexOf(feat), 1);
					feat.$remove();
				};
			});
		</script>
    </body>
</html>
