@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @*@play20.welcome(message, style = "Java")*@    
    
    <div ng-controller="mainCtrl" id="wrapper" ng-class="sidebarOpen ? 'sidebar-closed' : 'sidebar-open'">
    
    <!-- NAVBAR -->
    <nav class="navbar navbar-default navbar-fixed-top">
    	<div class="containter-fluid">
    		<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse" aria-expanded="false">
    				<span class="sr-only">Toggle navigation</span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    				<span class="icon-bar"></span>
    			</button>
    			<a class="navbar-brand" href="#" style="text-decoration: underline">Craft: Character</a>
    		</div>
    	
	    	<!-- Collect the nav links, forms, and other content for toggling -->
	    	<div class="collapse navbar-collapse" id="main-navbar-collapse">
	    		<ul class="nav navbar-nav navbar-right">
	    			<button type="button" class="btn btn-default" href="#">Settings</button>
	    		</ul>
	    	</div><!-- /.navbar-collapse -->
    	</div><!-- /.container-fluid -->
    </nav>
    
    <!-- SIDEBAR -->
    <div id="sidebar-wrapper">
	    <ul class="sidebar-nav">
	        <li class="sidebar-brand"> <a>Select a Character</a> </li>
			<div class="input-group input-group-sm" id="char-searchbar">
				<input type="text" class="form-control" id="char-searchbox" placeholder="Search for...">
				<span class="input-group-btn">
				    <button class="btn btn-default" type="button" ng-click="searchForChar()">Search</button>
				</span>
			</div><!-- /input-group -->
	    </ul>
    </div>
    
    <!-- CHARACTER HEADER -->
    <div class="char-header">
        <h4 style="float:right">Player: {{player}}</h4>
        <h1>{{charName}}</h1>
        <h4 class="header-details">
            <p>{{race}} {{dot}}</p>
            <p ng-repeat="class in classList track by $index">{{class}}</p>
            <p>{{dot}} {{align}}</p>
        </h4>
    </div>
    
 	<!-- MAIN CONTENT --> 	
	<div id="page-content-wrapper">
	   <h3>Search for a character in the sidebar</h3>
	   <p>{{searchedChar}}</p>
	   <button class="btn btn-primary" ng-click="sidebarOpen = !sidebarOpen">Toggle Sidebar</button>
	</div>
	
	</div><!-- /mainCtrl -->
}
